.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #2c3e50; 
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar h2 {
  margin: 0;
  color: #f39c12; 
  font-size: 1.6rem;
  margin-right: 2rem; 
}

.links {
  display: flex;
  gap: 1rem; 
  align-items: center;
}

.links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
 
  white-space: nowrap; 
}

.links a:hover {
  background-color: #34495e;
  color: #3498db;
}

/* Responsive lal mobile screens */
@media (max-width: 1000px) { 
  .navbar {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  
  .navbar h2 {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
  
  .links {
  
    flex-wrap: wrap; 
    justify-content: center;
    gap: 0.8rem;
  }
}